body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
}


.blocked-widget {
    width: 500px;

    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #9c32e0;
    color: white;

    -webkit-box-shadow: 5px 5px 15px -11px #000000;
    box-shadow: 5px 5px 15px -11px #000000;
}

.blocked-widget.not-blocked {
    background-color: #3b9edf;
    color: white;
}

